nav {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1d1c1c;
  color: #ffffff;
}
.nav-items {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icon-div {
  display: flex;
  font-size: 20px;
  align-items: center;
  color: blueviolet;
  text-decoration: none;
  align-self: flex-start;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border: 1px solid #bfbfbf;
}
.inputsearch {
  border: none;
  color: #ffffff;
  background-color: transparent;
  height: 31px;
}
.searchbtn {
  height: 20px;
  color: #ffffff;
  border: none;
  background-color: transparent;
}
.navbtn {
  border: 1px solid #bfbfbf;
  color: hsl(0, 0%, 100%);
  height: 25px;
  background-color: transparent;
  border-radius: 3px;
}
.searchbarsm {
  display: none;
}

@media (max-width: 768px) {
  nav {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 17vh;
    flex-wrap: wrap;
  }
  .nav-items {
    display: flex;
  }
  .searchbar {
    height: 30px;
    width: 200px;
  }
  .searchbarsm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 180px;
    border: 1px solid #bfbfbf;
  }
  .inputsearch {
    border: none;
    color: #ffffff;
    background-color: transparent;
    height: 24px;
    width: 150px;
  }
  .navbtn {
    height: 25px;
    width: 150px;
    font-size: 15px;
    background-color: transparent;
    border-radius: 3px;
    margin-right: 10px;
  }
  .icon-div {
    font-size: 16px;
    margin-right: 20px;
  }
  .navsm-view {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
